<tr>
  <td><%= flight.airline.title %></td>
  <td><%= flight.origin %></td>
  <td><%= flight.destination %></td>
  <td><%= Time.at(flight.departure_time) %></td>
  <td><%= Time.at(flight.arrival_time) %></td>
  <td><%= number_to_currency(flight.price, :unit => "$") %></td>
  <td><%= link_to 'Agregar Vuelo', edit_flight_path(flight) if current_user %></td>
</tr>