<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

  
    <div class="container">
        <div class="row mb-3 justify-content-md-center">
            <div class="text-center">
                <h1>Log in</h1>
            </div>
        </div>

        <div class="row mb-3 justify-content-md-center">
            <div class="col-3">
                <%= f.label :email %><br />
                <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", id: "exampleFormControlInput1", placeholder: "Email Adress" %>
            </div>
        </div>

        <div class="row mb-3 justify-content-md-center">
            <div class="col-3">
                <%= f.label :password %><br />
                <%= f.password_field :password, autocomplete: "current-password", class: "form-control", id: "exampleFormControlInput1", placeholder: "Password" %>
            </div>
        </div>

        <% if devise_mapping.rememberable? %>
            <div class="row mb-3 justify-content-md-center">
                <div class="col-3">
                    <%= f.check_box :remember_me, class: "form-check-input mt-0", type: "checkbox" %>
                    <%= f.label :remember_me %>
                </div>
            </div>
        <% end %>

        <div class="row mb-3 justify-content-md-center">
            <div class="col-md-auto">
                <button type="button" class="btn">
                    <%= f.submit "Log in", class: "btn btn-secondary" %>
                </button>
            </div>
            <div class="col-md-auto">
                <%= render "devise/shared/links" %>
            </div>
        </div>

    </div>


</div>

<% end %>


